<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SAND Display</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    html {
      height: 100%;
    }
    body {
      position: relative;
      height: 100%;
      font-size: 14pt;
      background-color: #293462;
    }
    .navbar {
      padding: 0.5rem 1rem 0rem 0rem;
      margin-bottom: 1rem;
      width: 100%;
      border-bottom-color: #7B5229;
      border-bottom-width: 0.3em;
      border-bottom-style: solid;
    }
    .data-field {
      float: right !important;
    }
    .table tr:not(:first-child) {
      /* border-width: 0.1rem 0em 0em 0em; */
      border-top: 1px solid #dee2e6;
      /* border-style: solid; */
    }
    .table thead th {
      border-bottom: none;

    }
    thead {
      background-color: #ccc;
    }
    .table th, .table td {
      border-top: none;
    }

    footer {
      width: 100%;
      height: 80px;
      background-color: #222;
      position: absolute;
      bottom: 0px;
      display: block;
      box-shadow: 0px 0px 10px #000 inset;
      border-top: 0.3em solid #7B5229;
      color: white;
    }
    .update-status {
      text-align: center;
      margin-top: 0.5em;
    }

    </style>
  </head>
  <body>



    <!-- TODO: Here goes your content! -->
    <div class="container-fluid">
      <div class="row"> <!-- Header Row -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="/static/images/transparent-sand-dune.png">
          <!-- <a class="navbar-brand" href="#">SAND Display</a> -->
          <div class="d-none d-md-block float-right">Service Analysis and Network Diagnosis</span>
        </nav>

      </div>
      <div class="row"> <!-- Main Content Row -->
        <div class="col-md-9">
          <div class="card">
          <div class="card-header">
            Participating CC* Sites
            <div class="pull-right"><a href="https://sand-ci.org/join-community/" class="btn btn-primary">Join CC* Participating Sites</a></div>
            </div>
            <iframe src="/map/iframe" frameborder="0" width="100%" height="100%"></iframe>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stats">
            <div class="card">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Global Tests in the last 24 Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['latency']['day'])  }}</th>
                    <td>Latency</td>
                  </tr>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['throughput']['day'])  }}</th>
                    <td>Throughput</td>
                  </tr>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['traceroute']['day'])  }}</th>
                    <td>Traceroutes</td>
                  </tr>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['total']['day'])  }}</th>
                    <td>Total</td>
                  </tr>
                  <thead>
                  <tr>
                    <th scope="col" colspan="2">Global Tests in the last Year</th>
                  </tr>
                </thead>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['latency']['year'])  }}</th>
                    <td>Latency</td>
                  </tr>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['throughput']['year'])  }}</th>
                    <td>Throughput</td>
                  </tr>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['traceroute']['year'])  }}</th>
                    <td>Traceroutes</td>
                  </tr>
                  <tr>
                    <th class="data-field" scope="row">{{ '{:,}'.format(psdata['total']['year'])  }}</th>
                    <td>Total</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>


    <footer>
      <div class="col-md-4 offset-md-4">
        <p class="update-status">
          Data Updated at: <span id="updated"></span>
        </p>

      </div>
      
    </footer>



    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script>
    $(function() {
      onresize(); 
      $(window).resize(function (){ onresize(); });
      updatetime();

    });

    function updatetime() {
      raw_time = {{ psdata['updated'] }};
      date_obj = Date(raw_time*1000);
      $("#updated").text(date_obj);
    };

    function onresize() {
      var h = $(window).height() - 310;
      $("iframe").each(function() {
          $(this).height(h);
      });
      /*
      $(".item img").each(function() {
          $(this).height(h);
      });
      */

      //var fsize = wh/40;
      //console.log(fsize);
      //$(".stats").css("font-size", fsize);

      //var area = $(window).width() * $(window).height();
      //window.parent.document.body.style.zoom = area/2000000;

      /*
      if($(window).width() < 1000) {
          $(".title").hide();
      } else {
          $(".title").show();
      }

      var stats_width = $(".stats").width();
      var stats_fontsize = 6 + stats_width/30;
      $(".stats").css("font-size", stats_fontsize);
      var stats_valuepad = stats_width/100;
      $(".stat-value").css("padding-top", stats_valuepad);
      $(".stat-value").css("padding-bottom", stats_valuepad);
      */
    }
    </script>
  </body>
</html>

